/* _content/DeviceRounding.Web/Views/Shared/_Layout - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-layjdu4a23] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-layjdu4a23] {
  color: #0077cc;
}

.btn-primary[b-layjdu4a23] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-layjdu4a23], .nav-pills .show > .nav-link[b-layjdu4a23] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-layjdu4a23] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-layjdu4a23] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-layjdu4a23] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-layjdu4a23] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-layjdu4a23] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


.circle[b-layjdu4a23] {
    height: 30px;width: 30px;background-color: #ff0000;border-radius: 50%;display: inline-block;
}

.circle-base[b-layjdu4a23] {
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}

.circle-red[b-layjdu4a23] {
    background: #FF0000;
}

/* _content/DeviceRounding.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tpgqoy3pt4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tpgqoy3pt4] {
  color: #0077cc;
}

.btn-primary[b-tpgqoy3pt4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tpgqoy3pt4], .nav-pills .show > .nav-link[b-tpgqoy3pt4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tpgqoy3pt4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tpgqoy3pt4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tpgqoy3pt4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tpgqoy3pt4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tpgqoy3pt4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


.circle[b-tpgqoy3pt4] {
    height: 30px;width: 30px;background-color: #ff0000;border-radius: 50%;display: inline-block;
}

.circle-base[b-tpgqoy3pt4] {
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}

.circle-red[b-tpgqoy3pt4] {
    background: #FF0000;
}

