

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

    body::after {
        content: '';
        display: block;
        height: 100px;
    }


body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}
/*header*/
.navbar {
    padding: 10px 20px 10px 10px;
    /*background: #0079a1 !important;*/
    height: 70px;
}

.desktop-menu .navbar {
    padding: 10px 20px 0px 10px;
    /*background: #ffffff !important; 
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%) !important; 
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; */
}

.dropdown {
    border-radius: 0;
    border: 0;
    text-align: left;
}

.dropdown-menu:not(#userPop) {
    background: #0079a1 !important;
    border: 0;
    top: 80%;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
}

.dropdown-item:not(.bg):hover {
    background: #fff;
    color: #000;
    text-align: left;
}

.dropdown-menu a {
    color: #fff;
    text-align: left;
}

.navbar .nav-item .nav-link {
    color: #eee !important;
}

    .navbar .nav-item .nav-link:hover {
        color: limegreen !important;
    }


.sm-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8px;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
}

.navbar-brand {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: white;
    float: left;
}

.nav-link text-dark {
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: white;
    float: left;
}

.desktop-menu {
    border-bottom: 1px solid #ddd;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

    .desktop-menu .navbar {
        margin-left: 170px;
    }

        .desktop-menu .navbar .nav-item .nav-link {
            color: #607d8b !important;
            padding-right: 25px;
        }

            .desktop-menu .navbar .nav-item .nav-link i {
                padding-right: 5px !important;
            }

    .desktop-menu .navbar-nav .dropdown-menu {
        background: #ffffff !important; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
        border: 0;
        top: 80%;
        border-radius: 0px;
    }

        .desktop-menu .navbar-nav .dropdown-menu .dropdown-item {
            color: #607d8b !important;
            border: 1px solid #ddd;
            border-bottom: 0px solid #ddd;
        }

            .desktop-menu .navbar-nav .dropdown-menu .dropdown-item:last-child {
                border: 1px solid #ddd;
            }

    .desktop-menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        color: white !important;
        /*background: #0079a1 !important;*/
        background: #6785c1 !important;
    }

.signout a {
    font-family: 'Noto Sans', sans-serif;
    color: #0079a1;
}

    .signout a i {
        padding-right: 5px;
        color: #0079a1 !important;
    }

.topbar {
    background: #0079a1;
}

.master-padding {
    padding-top: 76px !important;
}

.div-copyright {
    margin-left: 20px;
}

.desktop-menu #navbarTogglerDemo03 .navbar-nav .nav-item .nav-link {
    color: #607d8b !important;
}



/* end header*/


/*footer*/

.col_white_amrc {
    color: #FFF;
}


.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

    .footer_ul_amrc li {
        padding: 0px 0px 5px 0px;
    }

        .footer_ul_amrc li a {
            color: #CCC;
        }

            .footer_ul_amrc li a:hover {
                color: #fff;
                text-decoration: none;
            }

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

    .footer_ul2_amrc li p {
        display: table;
    }

    .footer_ul2_amrc li a:hover {
        text-decoration: none;
    }

    .footer_ul2_amrc li i {
        margin-top: 5px;
    }

.bottom_border {
    border-bottom: 1px solid #5f5f5f;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

    .foote_bottom_ul_amrc li {
        display: inline;
    }

        .foote_bottom_ul_amrc li a {
            color: #999;
            margin: 0 12px;
        }

@media (min-width: 1200px) {
    .container-main {
        max-width: 100%;
    }
}

.sidebar-nav ul li ul {
    padding: 0px;
}


/*.card-bg {
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.8) !important;
}*/

.txt-color {
    color: #fff;
}

.left-sidebar {
    padding: 80px 15px 0px;
}

/*footer {
    
  position:absolute;

    bottom: 0 !important;
   
    width: 100%;
    background-color: #0079a1;
    min-height: 250px;
    padding-left: 4.7rem;
    padding-right: 4.7rem;
    text-align: left;
    background-image: url("../images/background/logo-footer-bg.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    margin-top: 25px;
    

}*/

footer, footer ul li a, footer p {
    font-size: 13px !important;
}

    footer p {
        color: #fff;
        font-weight: 200;
        line-height: 1.8rem;
    }

    footer ul li {
        color: #fff;
        line-height: 1.8rem;
    }

        footer ul li a {
            color: #fff !important;
            font-weight: 200;
        }

    footer .pt2 {
        font-size: 14px !important;
        font-family: 'Noto Sans', sans-serif;
        margin-bottom: 10px;
    }

    footer .copyright {
        font-size: 1.3rem;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: .07rem;
        margin: 1px 1.6rem 0 0;
        display: inline-block;
        vertical-align: middle;
    }



/*end footer*/

/* slider*/
.slider-demo {
    margin: 50px 0px;
}

.slick-slide {
    padding: 0 25px;
}

.slider-demo:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 30px;
    background: linear-gradient(90deg,#fff 0,hsla(0,0%,100%,0));
}

.slider-demo:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 30px;
    background: linear-gradient(270deg,#fff 0,hsla(0,0%,100%,0));
}
/* end slider*/
.info .info-title, .info p {
    color: black;
}


.grey-bg {
    background: #f7f7f7;
}

.p-t-60 {
    padding-top: 60px;
}




.container {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}


.page-header .title {
    color: #fff;
}

.title {
    margin-top: 30px;
    /* margin-bottom: 25px; */
    min-height: 32px;
}

.sidebar-nav ul li a {
    font-weight: 500;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 1rem;
    line-height: 1.5em;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-box .app-search {
    margin-top: 2px;
}

    .search-box .app-search input {
        height: 30px;
        padding: 5px 40px 5px 20px;
    }

    .search-box .app-search .srh-btn {
        top: 6px;
    }

.section {
    padding: 40px 0;
}

.text-center {
    text-align: center !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.description {
    color: #999;
}

h5, .h5 {
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
}


.float-right {
    float: right !important;
}

.container-main {
    margin-top: 124px;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
    outline: none;
}

.fix-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

/********************************************************************************************************************
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
    .niji-text {
        /* position: absolute;*/
        right: 20px;
    }

    .mobile-menu {
        display: none !important;
    }

    .divDeviceRounding {
        margin-left: 390px;
        font-weight: bold;
        font-size: 32px;
        position: absolute
    }

    .lblCompany {
        margin-left: 110px;
        margin-bottom: -10px;
        font-family: 'Noto Sans', sans-serif;
    }

    .navSideBar {
        width: 14%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }
}


/************************************************************************************************************************ 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


    .navSideBar {
        width: 14%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }

    .container-main {
        margin-top: 74px;
    }

    header {
        width: 100%;
    }

    .desktop-menu {
        display: none;
    }

    .niji-text {
        font-size: 18px;
    }

    .navbar-brand {
        margin-left: -170px;
    }

    #navbarTogglerDemo03 {
        padding-left: 20px;
    }

        #navbarTogglerDemo03 .dropdown-menu {
            background: none !important;
            box-shadow: none !important;
        }

    .width-50 {
        width: 50% !important;
        max-width: 50% !important;
        flex: 0 0 50% !important;
    }

    body {
        background-size: auto;
    }

    .container {
        max-width: 100%;
    }



    footer {
        padding-left: 30px;
        padding-right: 20px;
    }

    .mobile-menu .nav-item .nav-link i {
        padding-right: 10px;
    }

    .mrg-lf-txt-b1 {
        margin-left: 15px !important;
    }

    .mrg-lf-txt-b1 {
        margin-left: 35px !important;
    }

    .divDeviceRounding {
        margin-left: 274px !important;
        font-weight: bold;
        font-size: 32px;
        position: absolute
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container-main {
        margin-top: 124px;
    }

    .mrg-lf-txt-b1 {
        margin-left: 15px !important;
    }

    .mrg-lf-txt-b1 {
        margin-left: 35px !important;
    }

    .desktop-menu {
        display: block;
    }

    #navbarTogglerDemo03 .dropdown-menu {
        background: #ffffff !important; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important; /* IE6-9 */
    }

    .niji-text {
        font-size: 18px;
        /*  position: absolute;*/
        right: 20px;
    }

    .mobile-menu {
        display: none;
    }

    .navbar-brand {
        margin-left: 0px;
    }

    .desktop-menu .navbar {
        margin-left: 0;
    }
}


/************************************************************************************************************************** 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .btnissuedashboard {
        padding-top: 4px;
    }

    .cardpie {
        width: 304px;
    }
	 .divpchart {
        width: 205px;
        height:370px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font: "8px Arial, sans-serif"
    }
    .car

    .divpie {
        width: 300px;
    }

    .ddlCompany {
        margin-bottom: -25px;
        width: 150px !important;
    }

    .divGaugeChart {
        width: -webkit-fill-available;
    }

    .divDeviceRounding {
        margin-left: 128px;
        font-weight: bold;
        font-size: 23px;
        position: absolute
    }

    .navSideBar {
        width: 100%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }

    .lblCompany {
        margin-left: 110px;
        margin-bottom: -10px;
        font-family: 'Noto Sans', sans-serif;
        width: auto;
    }

    .container-main {
        margin-top: 74px;
    }

    footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    #navbarTogglerDemo03 .dropdown-menu {
        background: none !important;
        box-shadow: none !important;
    }

    .div-copyright {
        margin-left: 0;
    }

    .niji-text {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .navbar-brand {
        margin-right: 0 !important;
    }

    #navbarTogglerDemo03 {
        margin-left: 15px;
    }


    .hidden-mobile {
        display: none;
    }

    .moblie-title-hide {
        display: none;
    }

    .ntt-logo {
        display: block !important;
    }

    .mobile-menu .nav-item .nav-link i {
        padding-right: 10px;
    }

    .MainResposive {
        margin-left: 60px;
    }
}

@media (min-width: 480px) and (max-width: 580px) {

    .navSideBar {
        width: 100%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }

    .MainResposive {
        margin-left: 60px;
    }

    .btnissuedashboard {
        padding-top: 4px;
    }
}

@media (min-width: 575px) and (max-width: 780px) {

    .navSideBar {
        width: 14%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }
}

@media (min-width: 480px) and (max-width: 768px) {

    .divDeviceRounding {
        margin-left: 160px !important;
        font-weight: bold;
        font-size: 32px;
        position: absolute
    }

    .lblCompany {
        margin-left: 110px;
        margin-bottom: -10px;
        font-family: 'Noto Sans', sans-serif;
        width: auto;
    }

    .btnissuedashboard {
        padding-top: 4px;
    }
}

@media (min-width: 420px) and (max-width: 940px) {
    
    .k-grid-content > table {
    }

    .navSideBar {
        width: 100%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }
    .divDeviceRounding {
        margin-left: 160px !important;
        font-weight: bold;
        font-size: 24px;
        position: absolute
    }
    .divpchart {
        width: 100%;
        height: 370px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font: "8px Arial, sans-serif"
    }
    .ddlCompany {
        margin-bottom: -25px;
        width: 130px !important;
    }

    .lblCompany {
        margin-left: 100px;
        margin-bottom: -10px;
        font-family: 'Noto Sans', sans-serif;
        width: auto;
    }

    .btnissuedashboard {
        padding-top: 4px;
    }
    .divGaugeChart {
      
        width: 100%;
    }
    .text-primary
    {
        font-size:20px !important;
    }
    .col-6 text-end
    {
        width:80%!important;
    }
}

@media (min-width: 350px) and (max-width: 750px) {
    .navSideBar {
        width: 100%;
        margin-left: 0px;
        height: 80%;
        background-color: white !important;
    }

    .divDeviceRounding {
        margin-left: 160px !important;
        font-weight: bold;
        font-size: 24px;
        position: absolute
    }

    .divpchart {
        width: 100%;
        height: 370px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font: "8px Arial, sans-serif"
    }

    .ddlCompany {
        margin-bottom: -25px;
        width: 130px !important;
    }

    .lblCompany {
        margin-left: 100px;
        margin-bottom: -10px;
        font-family: 'Noto Sans', sans-serif;
        width: auto;
    }

    .btnissuedashboard {
        padding-top: 4px;
    }

    .divGaugeChart {
        width: -webkit-fill-available;
    }
}
@media (min-width: 350px) and (max-width: 520px) {
    .grid-container {
        grid-template-columns: 1fr;
    }


   
    .mt-2.topcorner {
        margin-top: 0px !important;
        top: -4px;
        right: 10px;
    }
    .lh-base{
        font-size:22px !important;
    }
    .footer-abs{
        left:60px;
    }
    .col-md-9.ms-sm-auto .MainResposive{
        margin:0px !important;
    }
    .col-md-9.ms-sm-auto > main {
        padding-left: 60px;
    }
}
    /* 
  ##Device = Most of the Smartphones Mobiles (landscape)
  ##Screen = B/w 320px to 812px
*/

    @media (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
        .container-main {
            margin-top: 74px;
        }

        .niji-text {
            display: none;
        }

        #navbarTogglerDemo03 .dropdown-menu {
            background: none !important;
            box-shadow: none !important;
        }

        .desktop-menu {
            display: none;
        }


        .hidden-mobile {
            display: none;
        }

        .mobile-menu .nav-item .nav-link i {
            padding-right: 10px;
        }
    }

    @media (min-width: 420px) and (max-width: 940px) and (orientation: landscape) {
        .container-main {
            margin-top: 74px;
        }

        .niji-text {
            display: none;
        }

        #navbarTogglerDemo03 .dropdown-menu {
            background: none !important;
            box-shadow: none !important;
        }

        .desktop-menu {
            display: none;
        }


        .hidden-mobile {
            display: none;
        }

        .mobile-menu .nav-item .nav-link i {
            padding-right: 10px;
        }
    }

    .desktop-menu .navbar {
        height: 53px;
    }

    .desktop-menu #navbarTogglerDemo03 .navbar-nav .nav-item .nav-link {
        color: #fff !important;
    }

    .topbar .dropdown-menu .dropdown-item {
        padding: 7px 10px !important;
    }

    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }

@media (min-width: 410px) and (max-width: 940px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
        width: 100%;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }

    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}

@media (min-width: 390px) and (max-width: 900px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }

    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}

@media (min-width: 370px) and (max-width: 670px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }

    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}

@media (min-width: 350px) and (max-width: 750px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }
    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}

@media (min-width: 820px) and (max-width: 1180px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }

    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}

@media (min-width: 280px) and (max-width: 660px) {

    .circle-base circle-yellow {
        justify-content: left !important;
    }

    .table-se table tr {
        border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    }

    .table-se table tr, .table-se table td {
        display: block;
        justify-content: left !important;
    }

    .table-se table thead {
        display: none;
    }

    .text-primary {
        font-size: 20px !important;
    }

    .k-grid-content td {
        justify-items: left !important;
    }

    .table-se table td {
        border-bottom: 0;
        display: flex;
        height: auto;
        position: relative;
        text-align: left !important;
        min-width: 300px !important;
        width: 100%;
        justify-items: left !important;
    }

        .table-se table td:before {
            content: attr(data-header);
            display: block;
            font-weight: bold;
            margin-right: 10px;
            max-width: 110px;
            min-width: 110px;
            word-break: break-word;
            text-align: left !important;
        }

    .table-se table {
        overflow: hidden;
    }

    .highlight k-table-td {
        align-content: initial;
        align-items: unset;
        justify-items: left;
    }

    .w-100 {
        margin-top: 5px;
        width: 100%;
    }

    .k-grid .k-table-row {
        border-bottom: solid !important;
        border-bottom-width: thin !important;
        width: fit-content;
    }

        .k-grid .k-table-row.k-table-alt-row {
            background-color: lightcyan !important;
        }
}