
/* Custom CSS for the sidebar */
.sidebarNew {
    position: fixed;
    top: 0;
    height: 100%;
    width: inherit;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.SideLogo {
    background-color: transparent;
    padding-bottom: 10%;
    margin-top: 5%;
    padding-right: 0px;
    margin-left: -10%;
}

.nav-link {
    color: #0072bc !important;
    font-size: small;
    /*   font-weight: bold;*/
    font-family: 'Noto Sans', sans-serif !important;
}

.loader-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite !important;
}

.smloader {
    border: 5px solid #a19d9deb;
    border-top: 5px solid #ffc000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}


.nav-link:hover {
    color: #256ff1 !important;
    font-size: small !important;
    font-family: 'Noto Sans', sans-serif !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent !important;
    font-size: small;
    color: #000000 !important;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif !important;
}

.topcorner {
    position: absolute;
    top: 0;
    right: 1%;
}

    .topcorner:hover .dropdown-menu {
        display: block;
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        transform: translate(-65px, 0px);
    }


.Footers {
    height: fit-content;
    z-index: 1;
    height: 80px;
    bottom: 0;
    width: 100%;
}


/*
.sidebar.active {
    left: 0;*/ /* Shown */
/*}

.sidebar a {
    padding: 10px;
    color: #fff;
}

.Hidden {
    display: none;
}

.sidebar a:not(#logo):hover {
    background-color: #555;
}


.menu-toggle {
    color: #fff;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .menu-toggle.active::after {
        position: fixed;
        content: "☰" !important;*/ /* Show ☰ when not active */
/*color: white !important;
        left: 20px !important;
        top: 10px;
    }

    .menu-toggle:not(.active)::after {
        position: fixed;
        content: "✕" !important;*/ /* Show ✕ when active */
/*color: darkgrey !important;
        left: 200px !important;
        top: 10px;
    }*/

/* Adjust the main content area */
/*#content {
    padding-left: 2%;
}

@media (min-width: 768px) {*/
/* Adjust the main content area when sidebar is active */
/*.sidebar.active + #content {
        margin-left: 250px;
    }
}*/
